$bgColor: rgb(12, 19, 117);
$bgColorHover: rgb(58, 208, 228);

.default {
  color: whitesmoke;
  border: 1px solid #ddd;
  background-color: $bgColor;
  padding: 5px 10px;
  text-align: center;
}

.default:hover {
  background-color: $bgColorHover;
}
